@import "tailwindcss";

.font-outfit {
  font-family: var(--font-outfit);
  font-weight: 300;
}

.font-outfit-b {
  font-family: var(--font-outfit);
  font-weight: 400;
}

.italic-text {
  font-style: italic;
}

.green {
  color: #07482b;
}

.burg {
  color: #5e1104;
}

body {
  background-color: #f1ede7;
}

.right-aligned-item {
  float: right;
}

a:hover span {
  text-decoration: underline;
  color: blue !important;
}